.link {
  text-decoration: none;
}

.list {
  list-style: none;
}
body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}
/*-----COMPONENTS-----*/
.logo-color-footer {
  color: white;
}
.logo-color-header {
  color: black;
}
.footer {
  background-color: #2f303a;
}
.menu-link-current {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #2196f3;
}
/*-----HEADER-----*/
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: #2196f3;
}
.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
.menu-link:hover,
.menu-link:focus {
  color: #2196f3;
}
.email-adress {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.email-adress:hover,
.email-adress:focus {
  color: #2196f3;
}
.phone-number {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #757575;
}
.phone-number:hover,
.phone-number:focus {
  color: #2196f3;
}
/*-----/HEADER-----*/
/*------HERO-----*/
.hero {
  background-color: #2f303a;
}
.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}
.modl-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  cursor: pointer;
}
.modl-btn:hover,
.modl-btn:focus {
  background-color: #188ce8;
}
/*-----/HERO-----*/
/*-----OUR ADVANTAGES*/
.our-suptitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.our-list-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #757575;
}
/*-----/OUR ADVANTAGES-----*/
/*-----ABOUT-----*/
.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
/*-----/ABOUT-----*/
/*-----OUR TEAM-----*/
.section-team {
  background-color: #f5f4fa;
}
.title-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.title-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
  letter-spacing: 0.03em;
}
.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
  letter-spacing: 0.03em;

  color: #757575;
}
/*-----/OUR TEAM-----*/
/*-----FOOTER-----*/
.map-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71x;

  letter-spacing: 0.03em;

  color: #ffffff;
}
.footer-email-adress {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.footer-phone-number {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
/*-----/FOOTER-----*/
/*-----PORTFOLIO-----*/
.portfolio-btn {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  background-color: #f5f4fa;
  text-align: center;
  letter-spacing: 0.03em;

  cursor: pointer;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  background: #2196f3;
  color: #fff;
}
.suptitle-portfolio {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;
  color: #212121;
}
.subtitle-portfolio {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.03em;

  color: #757575;
}
/*-----/PORTFOLIO-----*/
